In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("HealthAutoExport-2021-06-01-2023-06-20 Data.csv")
cols = [
        "Date",
        "Active Energy (kcal)",
        "Apple Exercise Time (min)",
        "Apple Stand Time (min)",
        "Basal Energy Burned (kcal)",
        "Flights Climbed (count)",
        "Heart Rate [Min] (count/min)",
        "Heart Rate [Max] (count/min)",
        "Heart Rate [Avg] (count/min)",
        "Resting Heart Rate (count/min)",
        "Sleep Analysis [Asleep] (hr)",
        "Sleep Analysis [In Bed] (hr)",
        "Sleep Analysis [Core] (hr)",
        "Sleep Analysis [Deep] (hr)",
        "Sleep Analysis [REM] (hr)",
        "Sleep Analysis [Awake] (hr)",
        "Stair Speed: Down (ft/s)",
        "Stair Speed: Up (ft/s)",
        "Step Count (count)",
    ]

df1 = df.loc[:,cols]
df2 = df1.set_index("Date")
df3 = df2.stack().reset_index()
df3.rename(columns = {"level_1":"health_data_type",0:"value"}, inplace = True)
df3.loc[:,"type_unit_of_measurement"] = df3.health_data_type.apply(lambda x: x.split(" (")[1][:-1] if " (" in x else None)
df3.loc[:,"type"] = df3.health_data_type.apply(lambda x: x.split(" (")[0].replace(":","").replace("Analysis ","").replace("Apple ","").replace(" ", "_").replace("[","").replace("]","").lower() if " (" in x else None)
df3["day_of_month"] = pd.to_datetime(df3["Date"]).dt.day
df3["month"] = pd.to_datetime(df3["Date"]).dt.month
df3["year"] = pd.to_datetime(df3["Date"]).dt.year

types_index = {x:ind for ind,x in enumerate(df3["type"].unique())}
date_index = {x:ind for ind,x in enumerate(df3["Date"].unique())}

df3.loc[:,"date_index"] = df3["Date"].apply(lambda x: date_index[x])
df3.loc[:,"type_index"] = df3["type"].apply(lambda x: types_index[x])

healthDataFact = df3.loc[:,["date_index","type_index","value"]]
healthDataDim = df3.loc[:,["type_index","type","type_unit_of_measurement"]].drop_duplicates()
dateDim = df3.loc[:,["date_index","day_of_month","month","year"]].drop_duplicates()

In [5]:
print(healthDataFact)

       date_index  type_index        value
0               0           0     2.000000
1               0           1     0.000000
2               0           2     6.824425
3               0           3     0.000000
4               0           4     0.000000
...           ...         ...          ...
10656         749           5     0.708333
10657         749           6     0.416667
10658         749          16     1.110000
10659         749          17     0.983000
10660         749           7  6069.000000

[10661 rows x 3 columns]

In [6]:
print(healthDataDim)

     type_index                 type type_unit_of_measurement
0             0      flights_climbed                    count
1             1         sleep_asleep                       hr
2             2         sleep_in_bed                       hr
3             3           sleep_core                       hr
4             4           sleep_deep                       hr
5             5            sleep_rem                       hr
6             6          sleep_awake                       hr
7             7           step_count                    count
146           8        active_energy                     kcal
147           9        exercise_time                      min
148          10           stand_time                      min
149          11  basal_energy_burned                     kcal
151          12       heart_rate_min                count/min
152          13       heart_rate_max                count/min
153          14       heart_rate_avg                count/min
154          15   resting_heart_rate                count/min
161          16     stair_speed_down                     ft/s
162          17       stair_speed_up                     ft/s

In [7]:
print(dateDim)

       date_index  day_of_month  month  year
0               0             1      6  2021
8               1             2      6  2021
16              2             3      6  2021
24              3             4      6  2021
32              4             5      6  2021
...           ...           ...    ...   ...
10596         745            16      6  2023
10604         746            17      6  2023
10622         747            18      6  2023
10631         748            19      6  2023
10643         749            20      6  2023

[750 rows x 4 columns]

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('FinalProject.db')
c = conn.cursor()

In [10]:
c.execute("DROP TABLE IF EXISTS HealthFact;")

In [11]:
c.execute('''CREATE TABLE HealthFact(
    id INTEGER PRIMARY KEY,
    user_id INTEGER,
    date_id INTEGER,
    healthData_id INTEGER,
    value NUMERIC (10,2)
);''')

In [12]:
c.execute("DROP TABLE IF EXISTS UserDim;")

In [13]:
c.execute('''CREATE TABLE UserDim(
    id INTEGER PRIMARY KEY,
    name VARCHAR (100),
    email VARCHAR (100)
);''')

In [14]:
c.execute("DROP TABLE IF EXISTS DateDim;")

In [15]:
c.execute('''CREATE TABLE DateDim(
    id INTEGER PRIMARY KEY,
    day INTEGER (2),
    month INTEGER (2),
    year INTEGER (4)
);''')

In [16]:
c.execute("DROP TABLE IF EXISTS HealthDim;")

In [17]:
c.execute('''CREATE TABLE HealthDim(
    id INTEGER PRIMARY KEY,
    type VARCHAR (25),
    desc VARCHAR (255),
    unit_of_measurement VARCHAR (20)
);''')

In [18]:
c.execute("DROP TABLE IF EXISTS HealthClassifier;")

In [19]:
c.execute('''CREATE TABLE HealthClassifier(
    id INTEGER PRIMARY KEY,
    healthData_id INTEGER,
    classifier VARCHAR (25),
    lower_bound NUMERIC,
    upper_bound NUMERIC
);''')

In [20]:
for _, row in dateDim.iterrows():
    day = int(row["day_of_month"])
    month = int(row["month"])
    year = int(row["year"])

    c.execute("INSERT INTO DateDim (day, month, year) VALUES (?, ?, ?)", (day, month, year))
    
conn.commit()

In [21]:
c.execute("SELECT * FROM DateDim")
colnames = [row[0] for row in c.description]
df = pd.DataFrame(c.fetchall(), columns=colnames)
df.head()

   id  day  month  year
0   1    1      6  2021
1   2    2      6  2021
2   3    3      6  2021
3   4    4      6  2021
4   5    5      6  2021

In [22]:
user_id = 1

for _, row in healthDataFact.iterrows():
    date_id = row["date_index"]
    healthData_id = row["type_index"]
    value = row["value"]

    c.execute("INSERT INTO HealthFact (user_id, date_id, healthData_id, value) VALUES (?, ?, ?, ?)", (user_id, date_id, healthData_id, value))

conn.commit()

In [23]:
c.execute("SELECT * FROM HealthFact")
colnames = [row[0] for row in c.description]
df = pd.DataFrame(c.fetchall(), columns=colnames)
df.head()

   id  user_id  date_id  healthData_id     value
0   1        1        0              0  2.000000
1   2        1        0              1  0.000000
2   3        1        0              2  6.824425
3   4        1        0              3  0.000000
4   5        1        0              4  0.000000

In [24]:
descriptions = {
    "basal_energy_burned": "Calories burned during rest",
    "sleep_asleep": "Duration of deep sleep",
    "sleep_in_bed": "Time spent in bed",
    "sleep_core": "Duration of sleep cycle",
    "sleep_deep": "Duration of deep sleep",
    "sleep_rem": "Duration of REM sleep",
    "sleep_awake": "Duration of awake time during sleep",
    "step_count": "Number of steps taken",
    "active_energy": "Calories burned during activity",
    "exercise_time": "Duration of exercise",
    "stand_time": "Duration of standing",
    "flights_climbed": "Number of flights of stairs climbed",
    "heart_rate_min": "Minimum heart rate",
    "heart_rate_max": "Maximum heart rate",
    "heart_rate_avg": "Average heart rate",
    "resting_heart_rate": "Resting heart rate",
    "stair_speed_down": "Speed while descending stairs",
    "stair_speed_up": "Speed while ascending stairs"
}

for _, row in healthDataDim.iterrows():
    health_type = row["type"]
    unit_of_measurement = row["type_unit_of_measurement"]

    if health_type in descriptions:
        desc = descriptions[health_type]
    else:
        desc = None
    
    c.execute("INSERT INTO HealthDim (type, desc, unit_of_measurement) VALUES (?, ?, ?)",
              ( health_type, desc, unit_of_measurement))
    
conn.commit()

In [25]:
c.execute("SELECT * FROM HealthDim")
colnames = [row[0] for row in c.description]
df = pd.DataFrame(c.fetchall(), columns=colnames)
df

,id,type,desc,unit_of_measurement
0,1,flights_climbed,Number of flights of stairs climbed,count
1,2,sleep_asleep,Duration of deep sleep,hr
2,3,sleep_in_bed,Time spent in bed,hr
3,4,sleep_core,Duration of sleep cycle,hr
4,5,sleep_deep,Duration of deep sleep,hr
5,6,sleep_rem,Duration of REM sleep,hr
6,7,sleep_awake,Duration of awake time during sleep,hr
7,8,step_count,Number of steps taken,count
8,9,active_energy,Calories burned during activity,kcal
9,10,exercise_time,Duration of exercise,min
10,11,stand_time,Duration of standing,min
11,12,basal_energy_burned,Calories burned during rest,kcal
12,13,heart_rate_min,Minimum heart rate,count/min
13,14,heart_rate_max,Maximum heart rate,count/min
14,15,heart_rate_avg,Average heart rate,count/min
15,16,resting_heart_rate,Resting heart rate,count/min
16,17,stair_speed_down,Speed while descending stairs,ft/s
17,18,stair_speed_up,Speed while ascending stairs,ft/s

In [27]:
#NULL value check
c.execute('''
SELECT * FROM HealthFact where value is NULL
''')
colnames = [row[0] for row in c.description]
df = pd.DataFrame(c.fetchall(), columns=colnames)
df.head()

Empty DataFrame
Columns: [id, user_id, date_id, healthData_id, value]
Index: []

In [89]:
#mean median
c.execute('''
SELECT 
    hF.user_id,
    dD.Year,
    hD.type,
    Round(AVG(hF.value),2) AS 'Average/Mean',
    Round(((MAX(hF.value) + MIN(hF.value)) / 2),2) AS 'Median'
FROM 
    healthFact hF 
INNER JOIN  
    dateDim dD ON hF.date_id = dD.id 
INNER JOIN 
    healthDim hD ON hF.healthData_id = hD.id 
GROUP BY 
    hF.user_id,
    dD.Year,
    hD.type
''')
colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

    user_id  year                 type  Average/Mean    Median
0         1  2021        active_energy         12.06     51.00
1         1  2021  basal_energy_burned         50.87     61.00
2         1  2021        exercise_time         57.25    170.00
3         1  2021      flights_climbed          4.96      4.61
4         1  2021       heart_rate_avg         58.02     66.00
5         1  2021       heart_rate_max         70.60     76.95
6         1  2021       heart_rate_min        126.02    134.00
7         1  2021   resting_heart_rate          1.27      1.28
8         1  2021         sleep_asleep          8.84      9.00
9         1  2021          sleep_awake       3668.86  10158.00
10        1  2021           sleep_core          0.00      0.00
11        1  2021           sleep_deep          0.00      0.00
12        1  2021         sleep_in_bed          0.00      0.00
13        1  2021            sleep_rem          0.00      0.00
14        1  2021     stair_speed_down          1.14      1.39
15        1  2021           stand_time       1711.87   1156.90
16        1  2021           step_count        257.46    478.32
17        1  2022        active_energy         14.83     84.00
18        1  2022  basal_energy_burned         57.54     73.00
19        1  2022        exercise_time         73.06    152.00
20        1  2022      flights_climbed          1.68      5.51
21        1  2022       heart_rate_avg         63.62     70.00
22        1  2022       heart_rate_max         78.49     86.57
23        1  2022       heart_rate_min        125.36    138.55
24        1  2022   resting_heart_rate          1.26      1.37
25        1  2022         sleep_asleep          8.73      6.37
26        1  2022          sleep_awake       4064.48  10403.00
27        1  2022           sleep_core          0.03      0.70
28        1  2022           sleep_deep          0.03      0.74
29        1  2022         sleep_in_bed          0.13      2.56
30        1  2022            sleep_rem          0.03      1.43
31        1  2022     stair_speed_down          1.09      1.43
32        1  2022           stand_time       1684.69   1657.00
33        1  2022           step_count        265.30    602.51
34        1  2023        active_energy         21.54     48.00
35        1  2023  basal_energy_burned         57.50     63.00
36        1  2023        exercise_time         88.90    128.00
37        1  2023      flights_climbed          0.00      0.00
38        1  2023       heart_rate_avg         61.04     68.00
39        1  2023       heart_rate_max         82.82     95.59
40        1  2023       heart_rate_min        138.01    138.00
41        1  2023   resting_heart_rate          1.14      1.18
42        1  2023         sleep_asleep          9.36      8.92
43        1  2023          sleep_awake       4151.95   8154.00
44        1  2023           sleep_core          0.04      0.68
45        1  2023           sleep_deep          0.03      0.53
46        1  2023         sleep_in_bed          0.18      2.56
47        1  2023            sleep_rem          0.02      0.29
48        1  2023     stair_speed_down          1.03      1.06
49        1  2023           stand_time       1651.11   1608.00
50        1  2023           step_count        275.60    433.62

In [91]:
#min max
c.execute('''
SELECT 
    hF.user_id,
    dD.Year,
    hD.type,
    Round(MAX(hF.value),2) AS 'Maximum value',
    Round(MIN(hF.value),2) AS 'Minimum value'
FROM 
    healthFact hF 
INNER JOIN  
    dateDim dD ON hF.date_id = dD.id 
INNER JOIN 
    healthDim hD ON hF.healthData_id = hD.id 

GROUP BY 
    hF.user_id,
    dD.Year,
    hD.type
''')
colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

    user_id  year                 type  Maximum value  Minimum value
0         1  2021        active_energy         102.00           1.00
1         1  2021  basal_energy_burned          82.00          40.00
2         1  2021        exercise_time         339.00           1.00
3         1  2021      flights_climbed           9.22           0.00
4         1  2021       heart_rate_avg          85.00          48.00
5         1  2021       heart_rate_max          95.45          58.44
6         1  2021       heart_rate_min         188.00          81.00
7         1  2021   resting_heart_rate           1.85           0.72
8         1  2021         sleep_asleep          13.63           4.36
9         1  2021          sleep_awake       20311.00           5.00
10        1  2021           sleep_core           0.00           0.00
11        1  2021           sleep_deep           0.00           0.00
12        1  2021         sleep_in_bed           0.00           0.00
13        1  2021            sleep_rem           0.00           0.00
14        1  2021     stair_speed_down           2.07           0.71
15        1  2021           stand_time        1806.00         507.79
16        1  2021           step_count         955.38           1.26
17        1  2022        active_energy         168.00           1.00
18        1  2022  basal_energy_burned         105.00          41.00
19        1  2022        exercise_time         303.00           1.00
20        1  2022      flights_climbed          11.03           0.00
21        1  2022       heart_rate_avg          94.00          47.00
22        1  2022       heart_rate_max         121.01          52.13
23        1  2022       heart_rate_min         209.00          68.10
24        1  2022   resting_heart_rate           2.01           0.74
25        1  2022         sleep_asleep          12.75           0.00
26        1  2022          sleep_awake       20804.00           3.00
27        1  2022           sleep_core           1.40           0.00
28        1  2022           sleep_deep           1.48           0.00
29        1  2022         sleep_in_bed           5.13           0.00
30        1  2022            sleep_rem           2.86           0.00
31        1  2022     stair_speed_down           2.18           0.69
32        1  2022           stand_time        1811.00        1504.00
33        1  2022           step_count        1205.00           0.02
34        1  2023        active_energy          96.00           1.00
35        1  2023  basal_energy_burned          83.00          44.00
36        1  2023        exercise_time         255.00           1.00
37        1  2023      flights_climbed           0.00           0.00
38        1  2023       heart_rate_avg          86.00          51.00
39        1  2023       heart_rate_max         129.43          61.74
40        1  2023       heart_rate_min         197.00          79.00
41        1  2023   resting_heart_rate           1.47           0.88
42        1  2023         sleep_asleep          12.55           5.28
43        1  2023          sleep_awake       16301.00           8.00
44        1  2023           sleep_core           1.36           0.00
45        1  2023           sleep_deep           1.05           0.00
46        1  2023         sleep_in_bed           5.13           0.00
47        1  2023            sleep_rem           0.58           0.00
48        1  2023     stair_speed_down           1.38           0.74
49        1  2023           stand_time        1748.00        1468.00
50        1  2023           step_count         867.21           0.03

In [92]:
#1. average time for each activity 
c.execute('''
SELECT 
    hD.type,
    Round(AVG(hF.value),2) as avg_time
FROM
    healthDim hD 
INNER JOIN 
    healthFact hF ON hD.id = hF.healthData_id 
GROUP BY
    hD.type''')
colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

                   type  avg_time
0         active_energy     15.33
1   basal_energy_burned     55.33
2         exercise_time     70.99
3       flights_climbed      2.23
4        heart_rate_avg     61.20
5        heart_rate_max     76.74
6        heart_rate_min    128.08
7    resting_heart_rate      1.23
8          sleep_asleep      8.91
9           sleep_awake   3964.35
10           sleep_core      0.02
11           sleep_deep      0.02
12         sleep_in_bed      0.10
13            sleep_rem      0.02
14     stair_speed_down      1.09
15           stand_time   1684.17
16           step_count    264.96

In [73]:
#2. month - year running totals
c.execute('''
SELECT 
    hD.type,
    dD.year,
    dD.month,
    hD.unit_of_measurement,
    SUM(SUM(hF.value)) OVER (ORDER BY type,year ASC ROWS UNBOUNDED PRECEDING) Yearly_Total,
    SUM(SUM(hF.value)) OVER (ORDER BY type,year,month ASC ROWS UNBOUNDED PRECEDING) Monthly_Total
FROM
    healthFact hF
INNER JOIN 
    healthDim hD on hF.healthData_id = hD.id
INNER JOIN 
    dateDim dD on hF.date_id = dD.id
GROUP BY 
    hD.type,
    dD.year,
    dD.month,
    hD.unit_of_measurement;
''')

colnames = [row[0] for row in c.description]
df = pd.DataFrame(c.fetchall(), columns=colnames)
df.head()

            type  year  month unit_of_measurement  Yearly_Total  Monthly_Total
0  active_energy  2021      6                kcal         100.0          100.0
1  active_energy  2021      7                kcal         510.0          510.0
2  active_energy  2021      8                kcal         881.0          881.0
3  active_energy  2021      9                kcal        1279.0         1279.0
4  active_energy  2021     10                kcal        1694.0         1694.0

In [77]:
#3. week, user is most active
c.execute('''
select 
    dD.year,
    dD.month,
    strftime('%W', date(year ||'-01-01','+'||(month-1)||' month') ) week,
    hD.unit_of_measurement,
    max(hF.value) value
FROM
    healthFact hF
INNER JOIN
    dateDim dD on hF.date_id = dD.id
INNER JOIN 
    healthDim hD on hF.healthData_id = hD.id
where hD.type = 'active_energy'
GROUP BY
    dD.year,
    dD.month,
    week,
    hD.unit_of_measurement;
''')

colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

    year  month week unit_of_measurement  value
0   2021      6   22                kcal     22
1   2021      7   26                kcal     62
2   2021      8   30                kcal    102
3   2021      9   35                kcal     55
4   2021     10   39                kcal     86
5   2021     11   44                kcal     24
6   2021     12   48                kcal     22
7   2022      1   00                kcal     31
8   2022      2   05                kcal     24
9   2022      3   09                kcal     66
10  2022      4   13                kcal     82
11  2022      5   17                kcal     62
12  2022      6   22                kcal     68
13  2022      7   26                kcal    168
14  2022      8   31                kcal     37
15  2022      9   35                kcal     30
16  2022     10   39                kcal     32
17  2022     11   44                kcal     66
18  2022     12   48                kcal     66
19  2023      1   00                kcal     61
20  2023      2   05                kcal     53
21  2023      3   09                kcal     81
22  2023      4   13                kcal     89
23  2023      5   18                kcal     90
24  2023      6   22                kcal     96

In [99]:
#4. top 3 activities
c.execute('''
select
    hD.type,
    hD.unit_of_measurement,
    Round(sum(hF.value),2) value
FROM
    healthFact hF
INNER JOIN 
    healthDim hD on hF.healthData_id = hD.id
GROUP BY
    hD.type,
    hD.unit_of_measurement
ORDER BY 
    sum(hF.value)  desc  limit 3;
''')

colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

          type unit_of_measurement       value
0  sleep_awake                  hr  2905867.13
1   stand_time                 min  1231124.79
2   step_count               count   161628.59

In [107]:
#5. monthly sleep analysis
c.execute('''
select
    hD.type,
    hD.desc,
    dD.year,
    dD.month,
    hD.unit_of_measurement,
    Round(sum(hF.value),2) value
FROM
    healthFact hF
INNER JOIN 
    healthDim hD on hF.healthData_id = hD.id
INNER JOIN 
    dateDim dD on hF.date_id = dD.id
WHERE
    type like '%sleep%'
GROUP BY
    hD.type,
    hD.desc,
    dD.year,
    dD.month,
    hD.unit_of_measurement
ORDER BY 
    dD.year desc,
    dD.month desc;
''')

colnames = c.description   # gather collumn names from a new query
colnames_list = []
for row in colnames:
    colnames_list.append(row[0])

df = pd.DataFrame(c.fetchall(), columns=colnames_list)
df

,type,desc,year,month,unit_of_measurement,value
0,sleep_asleep,Duration of deep sleep,2023,6,hr,143.43
1,sleep_awake,Duration of awake time during sleep,2023,6,hr,75675.00
2,sleep_core,Duration of sleep cycle,2023,6,hr,2.00
3,sleep_deep,Duration of deep sleep,2023,6,hr,0.71
4,sleep_in_bed,Time spent in bed,2023,6,hr,8.77
...,...,...,...,...,...,...
145,sleep_awake,Duration of awake time during sleep,2021,6,hr,91178.00
146,sleep_core,Duration of sleep cycle,2021,6,hr,0.00
147,sleep_deep,Duration of deep sleep,2021,6,hr,0.00
148,sleep_in_bed,Time spent in bed,2021,6,hr,0.00
149,sleep_rem,Duration of REM sleep,2021,6,hr,0.00